# Compiled JavaScript files
lib/
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# logs
*.log

# IDE - VSCode
.vscode/

# TSC compiled files
be/dist

# ENV
.env

# Generated schemas
be/src/api/schemas/*.ts
be/src/api/schemas/*.json