# .env
NODE_ENV=dev
PORT=8080

# Database
DATABASE_HOST=localhost
DATABASE_NAME=shop
DATABASE_USER=
DATABASE_PASS=

# Mail sender
SENDGRID_API_KEY=

# Folders
IMAGE_UPLOAD_FOLDER=public/images

# JWT SECRET
JWT_SECRET=PERadessoVAbeneCOSI
JWT_DURATION=86400 #secondi